// Подключение локальных шрифтов
@font-face {
	font-family: "OpenSans-Regular";
	src: url("../fonts/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans-Regular.eot?iefix") format("eot"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@mixin font-regular {
	font-weight: 400;
}

// Глобальные стили
.heycisco-proj {
	// <= Класс у body
	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: var(--color-text);
	background: var(--color-bg);
	font-family: $font;

	.main-header,
	.main-footer,
	.main-block {
		padding: var(--section-padding) var(--grid-sides);
		width: 100%;
		max-width: var(--page-width);
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-content: center;
	}
	.main-sidebar {
		padding: var(--content-indents) var(--grid-gutter);
		width: var(--aside-width);
	}
	.main-block {
		padding: var(--section-padding) 0;
		max-width: var(--content-width);
		flex: 1 1 auto;
		align-content: flex-start;
		line-height: 1.5;
		font-size: 16px;
		main {
			// <= Общий для всех видов контента блок
			width: 100%;
			padding: var(--content-indents) var(--grid-sides);
			&.wrapper {
			}
		}
	}
}
