:root {


// Цвета
	--color-text: #333;
	--color-bg: #eee;
	--color-light: #0000000d;
	--color-link: #147cb8;
	--color-quote: #808080;
	--color-table-borders: #00000033;

// Макет
	// Глобальный корректор значений
	--c: 1;
	// Ограничение ширины страницы
	--page-width: unset;
	// Отступ контента
	--content-indents: calc(48px * var(--c));
	// Количество колонок
	--grid-columns: 12;
	// Отступы от края экрана
	--grid-sides: calc(32px * var(--c));
	// Отступы между колонками и по бокам секций
	--grid-gutter: calc(12px * var(--c));
	// Подсчет размера колонок
	--grid-column-width: calc((100vw - var(--grid-gutter) * var(--grid-columns)) / var(--grid-columns));
	// Отступы сверху/снизу секций
	--section-padding: var(--grid-gutter);
	// Ограничение ширины контента
	--content-width: calc(100% + var(--grid-gutter) - ((var(--grid-gutter)  + var(--grid-column-width)) * 2)); // Ширина контента -2 колонки
	// --content-width: unset; // Нефиксированный размер контента
	--aside-width: unset; // Ширина сайдбара


// Адаптивность
	@media (max-width: 1024px) {
		--c: 0.85;
		--grid-columns: 8;
	}
	@media (max-width: 760px) {
		--c: 0.6;
		--grid-columns: 4;
		--content-width: 100%;
	}
}

// SCSS переменные

$font: OpenSans-Regular, sans-serif;