:root {
	// Макет
	// Глобальный корректор значений
	--c: 1;
	// Ограничение ширины страницы
	--page-width: unset;
	// Ограничение ширины контента
	--content-width: 960px;
	// Отступ контента
	--content-indents: calc(48px * var(--c));
	// Количество колонок
	--grid-columns: 12;
	// Отступы от края экрана
	--grid-sides: 0;
	// Отступы между колонками и по бокам секций
	--grid-gutter: calc(16px * var(--c));
	// Отступы сверху/снизу секций
	--section-padding: calc(48px * var(--c));

	--el-indents: calc(12px * var(--c));
	--main-block-width: 680px;
	--staple-size: 1;

	// Адаптивность
	@media (max-width: 1140px) {
		--c: 0.85;
		--grid-columns: 8;
	}
	@media (max-width: 760px) {
		--c: 0.6;
		--grid-columns: 4;
	}
}

// SCSS переменные
$bg: rgb(221, 221, 221);
$bg-gradient: radial-gradient(
	circle,
	rgba(221, 221, 221, 1) 25%,
	rgba(204, 204, 204, 1) 100%
);
$text: #4d4d4d;
$gray-1: #999999;
$light: #b3b3b3;
$white: #ffffff;
$orange: #f15a24;
$header-bg: #4f4f4f;
$white-transparent: #ffffff70;
$black-transparent: #00000090;
$font: OpenSans-Regular, sans-serif;
$tansition-out: 0.4s ease-in;
$tansition-in: 0.15s ease-in;
