.main-header__menu {
	display: flex;
	align-items: stretch;

	.menu-toggle {
		display: none;

		@media (max-width: 760px) {
			display: flex;
		}
	}

	.menu-main {
		&-menu-container {
			display: flex;
			align-items: stretch;

			@media (max-width: 760px) {
				display: none;
			}

			ul.menu {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;

				> li {
					flex: 0 0 auto;
					margin-right: 6px;
					position: relative;

					a {
						text-transform: uppercase;
					}

					&:last-child {
						margin-right: 0;
					}

					.sub-menu {
						display: none;
						position: absolute;
						padding: 0.35em;
						left: -0.35em;
						min-width: 160px;

						li {
							background: #fff;
							a {
								display: block;
								padding: 0.35em;
								width: 100%;
							}
						}
					}

					&:hover .sub-menu {
						display: block;
					}
				}
			}
		}
	}
}
