<div class="main-nav">
	<ul>
		<li class="menu-item-has-children"><a href="#">Блог</a>
			<ul>
				<li><a href="category.html">Страница категории постов</a></li>
				<li><a href="single-post.html">Одиночная запись</a></li>
				<li><a href="category.html">Quia</a></li>
				<li><a href="category.html">Voluptatem</a></li>
				<li><a href="category.html">Cumque</a></li>
			</ul>
		</li>
		<li class="menu-item-has-children"><a href="#">Мои книги</a>
			<ul>
				<li><a href="#">Lorem</a></li>
				<li><a href="#">Quas</a></li>
				<li><a href="#">Quia</a></li>
				<li><a href="#">Voluptatem</a></li>
				<li><a href="#">Cumque</a></li>
			</ul>
		</li>
		<li><a href="#">Обо мне</a></li>
		<li><a href="#">Контакты</a></li>
	</ul>
</div>