<nav class="main-nav" role="navigation">
	<button type="button" class="menu-toggle">
		<span class="menu-icon">☰</span>
		<span class="menu-text screen-reader-text"> Menu</span>
	</button>
	<div class="menu-glavnoe-container"><ul id="menu-glavnoe" class="menu"><li id="menu-item-2464" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2464"><a href="http://new.holmogorov.ru/books/">Мои книги</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16"><a href="#">Блог<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg></span></a>
<ul class="sub-menu">
	<li id="menu-item-2465" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2465"><a href="http://new.holmogorov.ru/pub/">Публикации</a></li>
	<li id="menu-item-2466" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2466"><a href="http://new.holmogorov.ru/tech/">Технологии</a></li>
	<li id="menu-item-2467" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2467"><a href="http://new.holmogorov.ru/workshop/">Мастерская</a></li>
	<li id="menu-item-2468" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2468"><a href="http://new.holmogorov.ru/events/">События</a></li>
</ul>
</li>
<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://new.holmogorov.ru/obo-mne/">Обо мне</a></li>
<li id="menu-item-2572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2572"><a href="http://new.holmogorov.ru/kontakty/">Контакты</a></li>
</ul></div></nav>