<nav class="main-footer__menu" role="navigation">
	<div class="menu-secondary-menu-container">
		<ul id="menu-secondary-menu" class="menu">
			<li id="menu-item-2043" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2043"><a href="http://dev.starchenkov.pro/">Aut porro et tempora</a></li>
			<li id="menu-item-2041" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2041"><a href="http://dev.starchenkov.pro/no-category/">Без рубрики</a></li>
			<li id="menu-item-2042" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2042"><a href="http://dev.starchenkov.pro/standart/">Стандарт</a></li>
		</ul>
	</div>
</nav>
