.category {
	&__header {
		position: relative;
		&__title {
			font-size: 3em;
			color: #4f4f4f;
			text-align: center;
			text-transform: uppercase;
		}
		&__meta {
			text-align: center;
			width: 100%;
		}
	}

}
.tags__header h1 {
	font-size: 3em;
	color: #4f4f4f;
	text-align: center;
	text-transform: uppercase;
}
