.main-header {
	@include font-extra;
	text-transform: uppercase;
	color: $text;
	@media (max-width: 720px) {
		justify-content: center;
		flex-direction: column;
		align-items: stretch;
		height: 100%;
	}
	@media (max-height: 700px) {
		padding-top: 12px;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	@media (max-height: 500px) {
		.branding h1 {
			font-size: 1em;
		}
	}

	> * {
		width: 100%;
		position: relative;
		@media (max-width: 960px) {
			width: auto;
		}
	}

	.branding h1,
	.copyright {
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: calc(var(--section-padding) * -1);
			background: $gray-1;
			height: 4px;
			width: calc(var(--section-padding) - var(--el-indents));
			@media (max-width: 960px) {
				display: none;
			}
			@media (max-width: 720px) {
				display: block;
			}
		}
	}

	.branding {
		h1 {
			font-size: 2.15rem;
			@media (max-width: 1350px) {
				font-size: 1.8rem;
			}
			@media (max-width: 1100px) {
				font-size: 1.65rem;
			}
			@media (max-width: 960px) {
				font: 1.5rem sans-serif;
			}
			@media (max-width: 720px) {
				font-size: 2.15rem;
			}
			line-height: 1.2;
			@include font-extra;

			&:before {
				top: calc((2.45rem / 2) - 2px);
				@media (max-width: 1350px) {
					top: calc((1.8rem / 2) - 2px);
				}
				pointer-events: none;
			}
		}

		a:hover {
			h1 {
				&:before {
					background: $orange;
					transition: background $tansition-in;
				}
			}
		}

		a {
			h1 {
				&:before {
					transition: background $tansition-out;
				}
			}
		}
	}

	.copyright {
		max-width: 340px;
		&:before {
			top: calc(50% - 2px);
		}

		span {
			display: block;
			font-size: 0.75rem;

			&:first-child {
				font-weight: 600;
			}
		}
		@media (max-width: 960px) {
			min-width: 450px;
			margin-left: calc(100% - 450px);
			text-align: right;
			margin-top: -1em;
		}
		@media (max-width: 720px) {
			min-width: 100%;
			margin-left: 0;
			margin-top: 0;
			@media (max-height: 700px) {
				display: none;
			}
		}
	}

	.main-nav {
		font-size: 1.8rem;
		@media (max-width: 1350px) {
			font-size: 1.6rem;
		}
		@media (max-width: 1140px) {
			font-size: 1.3rem;
		}
		@media (max-width: 720px) {
			font-size: 1.8rem;
			flex: 1 1 auto;
			margin-top: 2em;
			@media (max-height: 700px) {
				width: 100%;
				margin-top: 1em;
			}
			@media (max-height: 500px) {
					font-size: 1em;
			}
		}
		line-height: 1;
		.menu-toggle {
			display: none;
		}
		ul.menu {
			@media (max-width: 960px) {
				display: flex;
				li {
					margin-right: 0.5em;
				}
			}
			@media (max-width: 720px) {
				flex-direction: column;
				li {
					margin-left: unset;
				}
			}

			li {
				position: relative;

				a {
					padding: 18px 0;
					@media (max-width: 1350px) {
						padding: 15px 0;
					}
					color: inherit;
					position: relative;
					display: inline-block;

					&:after {
						content: "";
						position: absolute;
						width: 0;
						left: 50%;
						height: 4px;
						display: block;
						bottom: 8px;
						background: $gray-1;
						opacity: 0;
						transition: all $tansition-out;
					}

					&:hover {
						&:after {
							opacity: 1;
							width: 100%;
							left: 0;
							transition: all $tansition-in;
						}
					}
				}
				&.current-menu-item a {
					&:after {
						opacity: 1;
						width: 100%;
						left: 0;
						transition: all $tansition-in;
						background: $orange;
					}
				}

				&.menu-item-has-children {
					@media (max-width: 960px) {
						margin-right: 1.5em;
					}
					@media (max-width: 720px) {
						margin-right: unset;
					}
					ul {
						position: relative;
						top: -9px;
						display: none;

						li {
							font-size: 0.6em;

							a {
								padding: 0.5em 0;
								transition: all $tansition-out;

								&:after {
									display: none;
								}

								&:hover {
									padding-left: 0.65em;
									transition: all $tansition-in;
								}
							}
							&.current-menu-item a, &.current-menu-parent a {
								color: $orange;
								&:hover {
									padding-left: 0;
								}
							}
			
						}
					}

					&.clicked {
						a:hover:after {
							opacity: 0;
							transition: all $tansition-out;
						}
					}

					> a {
						span {
							position: absolute;
							top: 0.85;
							right: -1em;
							transform: rotate(0);
							transform-origin: 0.4em 0.4em;
							color: $gray-1;
							transition: all $tansition-out;
							svg {
								width: 0.8em;
								height: 0.8em;
							}
						}
					}

					&.clicked a,
					a:hover {
						span {
							transform: rotate(-90deg);
							color: $orange;
							transition: all $tansition-in;
						}
					}
					&.clicked a {
						span {
							transform: rotate(-90deg);
							color: $orange;
							transition: all $tansition-in;
							transition-delay: 0.1s;
						}
					}

					&.clicked a:hover span {
						transform: rotate(90deg);
					}
				}
			}
		}
	}
}

.main-aside {
	@media (max-width: 720px) {
		z-index: 10;
		padding-right: var(--section-padding);
	}
	.social {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;

		a {
			border-radius: 50%;
			margin: 0.7em 0;
			padding: 0.7em 0.35em;
			position: relative;
			left: 0.35em;
			color: $text;

			&:before {
				content: "";
				display: block;
				position: absolute;
				right: calc(var(--section-padding) * -1);
				top: calc(50% - 4px);
				background: #999;
				height: 4px;
				width: calc(var(--section-padding) - var(--el-indents));
				transition: all $tansition-out;
				pointer-events: none;
			}

			svg {
				width: 1.6rem;
				height: 1.6rem;
				transform: scale(1);
				transition: all $tansition-out;
			}

			&:hover {
				svg {
					transform: scale(1.2);
					transition: all $tansition-in;
				}

				&:before {
					transition: all $tansition-in;
				}
			}

			&#link_vk:hover {
				svg {
					color: #4a719e;
				}

				&:before {
					background: #4a719e;
				}
			}

			&#link_fb:hover {
				svg {
					color: #3a5794;
				}

				&:before {
					background: #3a5794;
				}
			}

			&#link_insta:hover {
				svg {
					color: #d6249f;
				}

				&:before {
					background: #d6249f;
				}
			}

			&#link_yandex:hover {
				svg {
					color: #f70000;
				}

				&:before {
					background: #f70000;
				}
			}

			&#link_at:hover {
				svg {
					color: #4582af;
				}

				&:before {
					background: #4582af;
				}
			}
		}
	}
}
#mobile_menu_toggle {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	background: #000;
	color: $light;
	justify-content: space-between;
	align-items: center;
	z-index: 50;
	pointer-events: none;
	@include font-extra;
	button {
		flex: 0 0 auto;
		padding: 0;
		margin: 0;
		background: $black-transparent;
		color: $light;
		&:hover {
			background: $black-transparent;
			color: $light;
		}
		span {
			width: 46px;
			height: 46px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px;
			svg {
				width: 100%;
			}
			&.open {
				display: none;
			}
			&.closed {
				display: flex;
			}
		}
		&.up {
			opacity: 0;
			pointer-events: none;
		}
	}
	h2 {
		padding: 0.25em 0.5em;
		flex: 1 1 auto;
	}
}
@media (max-width: 720px) {
	#mobile_menu_toggle {
		display: flex;
		pointer-events: auto;
		
	&.scroll button.up {
			opacity: 1;
			pointer-events: auto;
		}
	}
	.main-header,
	.main-aside {
		padding-top: 80px;
		opacity: 0;
		pointer-events: none;
		transition: opacity $tansition-in;
		.social {
			justify-content: flex-start;
			margin-top: 120px;
			@media (max-height: 700px) {
				margin-top: 40px;
			}
			@media (max-height: 500px) {
				margin-top: 20px;
				a {
					margin: 0;
				}
			}
		}
	}
}


&.mobile-menu-open {
	@media (max-width: 720px) {
	overflow: hidden;
		#mobile_menu_toggle {
			background: #0000;
			h2 {
				opacity: 0;
			}
			button {
				span {
					&.open {
						display: flex;
					}
					&.closed {
						display: none;
					}
				}
				&.up {
					display: none;
				}
			}
		}
		.main-header,
		.main-aside {
			opacity: 1;
			pointer-events: auto;
			transition: opacity $tansition-in;
		}
	}
}